.nav{
    padding-right: 5%;
    padding-left: 5%;
}
/* link de nav*/
#linkVerde{
    color:green;
}
.navbar-footer {
    display: flex;
    justify-content:space-around;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb( 21, 67, 96 );
}
.navbar-footer a{
    color: aliceblue;
}
.promo_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.c01{
    border-color: blue;   
}
.c02{
    border-color:aqua;
}
.c03{
    border-color: RGB(241, 196, 15 ) ;
}
.cartel_valor {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    margin: 40px auto 25px auto;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right: auto;
}
#correo{
   width: 200px;
}
.row{
    margin-bottom:2%;
    justify-content: center;
}
.btn {
    background-color: RGB(151, 201, 62); 
    border-color: RGB(151, 201, 62) ;
}
.totalPrecio {
    background-color: RGB(204, 229, 255)!important;
    border-color: RGB( 186, 219, 255) ;
    color: RGB(3, 99, 182);
    border-left: none ;
    text-align: right;
}
.totalPrecio span {
    border-right: none;
}
    
